path.province {
stroke-width: 1;
stroke: black;
opacity: .5;
fill: gray;
}
circle.chufa {
r: 3;
stroke-width: 1;
stroke: blueviolet;
fill: none;
}

circle.mubiao {
r: 3;
stroke-width: 1;
stroke: darkgreen;
fill: none;
}
circle.pin {
r: 3;
stroke-width: 1;
stroke: chocolate;
fill: none;
}

circle.active {
	fill: lightblue;
	r:5
}

rect.bbox {
fill: none;
stroke-dasharray: 5 5;
stroke: black;
stroke-width: 2;
pointer-events: none;
}
path.graticule {
fill: none;
stroke-width: 1;
stroke: black;
}
path.graticule.outline {
stroke: black;
}

g.hexagon{
	stroke: white;
}
path.active{
	fill: lightblue;
}

path.highlight{
	fill: lightblue;
}

circle{
	fill:none;
}

circle.active{
	stroke: black;
}

#model {
position:fixed;
left:150px;
top:20px;
z-index:1;
background: white;
border: 1px black solid;
box-shadow: 10px 10px 5px #888888;
}
tr {
border: 1px gray solid;
}
td {
font-size: 10px;
}
td.data {
font-weight: 900;
}